* {
  margin: 0;
  box-sizing: border-box;
}
h1 {
  display: flex;
  justify-content: space-around;
  background-color: rgb(114, 114, 114);
  padding: 1em 0;
}

#main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.figure {
  margin: 3.5px;
}

.figure img {
  width: 180px;
}

.figcaption {
  text-align: center;
}

.buttons {
  width: 400px;
  margin: auto;
  padding: 20px;
  align-self: center;
}

.maleButton {
  padding: 15px;
  box-shadow: rgb(167, 167, 167);
  font-size: large;
  text-align: center;
}

.maleButton:hover {
  background-color: rgb(111, 111, 255);
}

.femaleButton {
  padding: 15px;
  box-shadow: rgb(167, 167, 167);
  font-size: large;
  text-align: center;
}

.femaleButton:hover {
  background-color: rgb(170, 80, 255);
}
