
  header {
    display: flex;
    justify-content: space-around;
    background-color: rgb(37, 37, 37);
    padding: 2em 0;
  }

  #main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  

  figure {
    margin: 3.5px;
  }
  
  figure img {
    width: 180px;
  }
  
  figcaption {
    text-align: center;
  }


  button {
    font-size: x-large;
    border-radius: 10px;
    background-color: rgb(31, 31, 31);
  }
  
  button:hover {
    background-color: rgb(187, 187, 187);
  }